html, body 
{
	margin: 0px; 
	padding: 0px; 
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: #FFFFFF;
}

body
{
	margin: auto;
	font-family: Arial;
	font-size: 15px;
	color: #FFFFFF;
}
img
{
  outline: none; border: none;
}

#panel
{
    margin: 70px 0px 0px 360px;
    border:1px solid #999;
    width: 500px;
    height: 550px;
    border-radius: 8px;
}
#cont
{
    margin-top: 0px;
    margin-left: 400px;
    margin-bottom: 100px;
    position: relative;
	border:3px solid #999;
	width: 400px;
	height: 300px;
	border-radius: 8px;
}
#cont1
{
    margin-top: 60px;
    margin-left: 400px;
    margin-bottom: 100px;
    position: relative;
    border:3px solid #999;
    width: 400px;
    height: 300px;
    border-radius: 8px;
}
#form
{
	margin: -140px 0px 0px 260px;
	border: 1px solid #999;
	width: 800px;
	height: 550px;
	border-radius: 8px;
	padding:40px;
}
#form1
{
	width: 150%;
	height: 600px;
	border-radius: 8px;
}
#lbl
{
	height: 20px;
	width: 20px;
	background-color: #1DA1F2; 
}
.txt
{
	position: relative;
	border-radius: 10px;
	width: 240px;
	height: 30px;
	padding: 2px;
}
.txt2
{
    margin-top: 50px;
    margin-left: 80px;
    position:relative;
	border-radius: 10px;
	width: 240px;
	height: 30px;
}
.txt_con
{
    margin: 60px 0px 0px 20px;
    border-radius: 10px;
    width: 220px;
    height: 30px;
    padding: 5px; 
}
#txt_com
{
    margin: 30px 0px 0px 110px;
    border-radius: 10px;
    width: 300px;
    height: 110px;
}
#btn
{
	border: 1px solid #999;
	border-radius: 30px;
	margin: 35px 0px 0px 150px;
	width: 100px;
	height: 50px;
}
.boton
{
	border-radius: 5px;
	width: 100px;
	height: 30px;
	border: 1px solid #999;
}
.boton:hover
{
    background-color: #bfbaa2; 
}
.imgPortada
{
    height: 100%;
    width: 100%;
    padding: 15px 15px 10px 15px;
    //background-size: cover;
    background-position: center;
}

.portada{
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
}
.contenido{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.titulo{
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 55px;
    line-height: 1.60;
    color: #064852;
}

.detalle{
    font-size: 20px;
    line-height: 1;
    font-family: 'Josefin Sans',sans-serif;
}

.edit{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 15%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.edit_sec{
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    border: solid black;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}
.edit_sec1{
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    border: solid black;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}
#tb
{
	margin: -50px 0px 0px 300px;
    width: 500px;
    height: 280px;
    border: 2px solid #333;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 20px;
    font-family: Segoe UI, Verdana;
    font-size: 12px;
    overflow: scroll;
}
#tb1
{
	margin: 30px 0px 0px 30px;
    width: 500px;
    height: 280px;
    border: 2px solid #333;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 20px;
    font-family: Segoe UI, Verdana;
    font-size: 12px;
    overflow: scroll;
}
#tb2
{
	margin: 16px 0px 0px 0px;
    width: 628px;
    height: 280px;
    border: 2px solid #333;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 20px;
    font-family: Segoe UI, Verdana;
    font-size: 12px;
    overflow: scroll;
}
#lbl_info
{
/*	position: relative;
    margin-left: 300px;
    margin-top: -300px;*/
    margin: 420px 0px 0px 350px;
    font-size: 10px;
    color: #999;
}
#img_foto
{
	border: 1px solid #999;
	border-radius: 40px;
    position:relative;
    margin-top: 50px;
    margin-left: 910px;
	width: 70px;
	height: 70px;
}
#lbl_nom
{
	margin: 10px 0px 0px 920px;
    font-family: Segoe UI, Verdana;
    font-size: 15px;
    color:#999;
}
#lbl_panel
{
    margin: 20px 0px 0px 390px;
    font-family: Segoe UI, Verdana;
    font-size: 15px;
    color:#999;
}
#img_panel
{
    border: 1px solid #999;
    border-radius: 40px;
    margin: 30px 0px 0px 380px;
    width: 70px;
    height: 70px;
}
#com
{
    margin: auto;
    margin-top: 20px;
    position: relative;
    border: 1px solid #999;
    border-radius: 10px;
    width: 500px;
    height: 80px;
    background-color: #bfbaa2; 
}
#com_body
{
    position: relative;
    display: center;
    text-align: center;
    margin: 30px 0px 0px 20px;
}
#caja
{
    margin: 30px 0px 0px 290px;
    border: 1px solid #999;
    border-radius: 10px;
    width: 800px;
    height: 500px; 
}
#lbl_com
{
    margin: 20px 0px 0px 600px;
    font-family: Segoe UI, Verdana;
    font-size: 20px;
    color:#999;
}
table, td 
{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
}

tbody tr:hover td
{
    cursor: pointer;
    background: #bfbaa2;
}

thead td 
{
	width: 100px;
	height: 19px;
    background: #999;
    color: #FFF;
    font-size: 13px;
}
tbody tr:nth-child(even) {background: #CCC}
tbody tr:nth-child(odd) {background: #ffff}

.ser_cont{
    background: #d3e8f7; 
    font-family: Segoe UI, Verdana;
    margin-top: 2%; 
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.48);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.48);
}


.ser_cont a:hover {
   font-weight: bold;
}

.ser_info{
    padding-bottom: 10%;
    font-family:  Verdana,Segoe UI;
}

.center{
    text-align: center;
    vertical-align: middle;
}
